<html>
<head>
    <title>FastComments Docs</title>
    <meta property="og:title" content="FastComments Documentation"/>
    <meta property="og:description" content="FastComments Documentation"/>
    <meta property="og:image" content="https://fastcomments.com/images/logo-1080-2020-01.png"/>
    <meta property="og:image:width" content="1080"/>
    <meta property="og:image:height" content="1080"/>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="css/codemirror.css">
    <link rel="stylesheet" href="css/codemirror-monokai.css">
    <script src="js/codemirror.js"></script>
    <script src="js/codemirror-javascript.js"></script>
    <script src="js/codemirror-xml.js"></script>
    <script src="js/codemirror-htmlmixed.js"></script>
    <script src="js/codemirror-mark-selection.js"></script>
    <script src="js/get-session-info.js"></script>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/">
            <div class="css-logo"><i class="t"></i><i class="m"></i><i class="b"></i></div>
            FastComments.com</a>
    </div>
</div>
<div class="content">
    <p class="text-center">
        Here you can edit and run the code snippet from our documentation.
    </p>
    <h2 class="text-center">Example Code Snippet "{{snippetName}}"</h2>
    <label>
        <textarea id="code-input">{{{codeHTML}}}</textarea>
    </label>
    <h4>Result</h4>
    <iframe id="iframe" class="example-iframe"></iframe>
    <script>
        (function () {
            const ExampleTenantId = JSON.parse(`"{{{ExampleTenantId}}}"`);
            const input = document.getElementById('code-input');
            const iframe = document.getElementById('iframe');

            function getIndentation(line) {
                if (!line) {
                    return '    ';
                }
                let spaces = '';
                for (const character of line.split('')) {
                    if (character === ' ') {
                        spaces += ' ';
                    } else {
                        break;
                    }
                }
                return spaces;
            }

            function setup(userId) {
                if (userId) {
                    // hack to keep user's comments on page reload since createObjectURL creates urls with uuids that reference location in browser memory
                    const scriptLines = input.value.split('\n');
                    const result = [];
                    const demoPageUrlIdLine = `"urlId": "demo-session-${userId}" /\/\ just so your comments persist in this demo`;
                    let isInConfig = false;
                    let foundTenantId = false;
                    let added = false;
                    let lastLineIndex = -1;
                    for (let i = 0; i < scriptLines.length; i++) {
                        const line = scriptLines[i];
                        if (!isInConfig && line.endsWith('{')) {
                            isInConfig = true;
                        }
                        if (isInConfig && line.includes('tenantId')) {
                            foundTenantId = true;
                        }
                        const isEndOfScript = (line.endsWith('});') || line.endsWith('})') || line.endsWith('};'));
                        if (isInConfig && !isEndOfScript && line.endsWith(';')) {
                            isInConfig = false;
                        }
                        if (!added
                            && (line.includes('"urlId":') || line.includes('urlId:'))
                        ) {
                            result.push(line);
                            lastLineIndex++;
                            added = true;
                        } else {
                            if (isInConfig && !added && isEndOfScript) {
                                if (foundTenantId) { // if is valid config obj
                                    if (!result[lastLineIndex].endsWith(',')) {
                                        result[lastLineIndex] = result[lastLineIndex] + ',';
                                    }
                                    result.push(getIndentation(result[lastLineIndex]) + demoPageUrlIdLine);
                                    lastLineIndex++;
                                    added = true;
                                }
                                result.push(line);
                                lastLineIndex++;
                                isInConfig = false;
                                foundTenantId = false;
                            } else {
                                result.push(line);
                                lastLineIndex++;
                            }
                        }
                    }
                    input.value = result.join('\n');
                }

                const editor = CodeMirror.fromTextArea(input, {
                    lineNumbers: true,
                    styleSelectedText: true,
                    viewportMargin: Infinity, // for auto resize
                    mode: 'htmlmixed',
                    theme: 'monokai',
                });
                window.editor = editor;
                let markedText = editor.markText({
                    line: JSON.parse(`{{highLightLineFrom}}`) - 1,
                    ch: 0
                }, {line: JSON.parse(`{{highLightLineFrom}}`) - 1, ch: 99999}, {css: "background: #383830"});

                function render() {
                    const blob = new Blob([editor.getValue()], {type: "text/html; charset=utf-8"});
                    iframe.src = URL.createObjectURL(blob);
                    updateIframeHeight();
                }

                let lastHeight = 0;

                function updateIframeHeight() {
                    if (iframe.contentWindow.document.body) {
                        const currentHeight = iframe.contentWindow.document.body.offsetHeight + 50;

                        if (lastHeight !== currentHeight && (currentHeight - lastHeight) > 35) {
                            iframe.style.height = `${currentHeight}px`;
                        }
                        lastHeight = currentHeight;
                    }
                }

                render();
                setInterval(updateIframeHeight, 500);
                editor.on('change', function () {
                    render();
                    if (markedText) {
                        markedText.clear();
                        markedText = null;
                    }
                });
            }

            window.getSessionInfo(function (sessionInfo) {
                if (sessionInfo.authenticated && sessionInfo.tenantId) {
                    input.value = input.value.replace(ExampleTenantId, sessionInfo.tenantId);
                    input.value = input.value.replace('"demo"', `"${sessionInfo.tenantId}"`);
                    input.value = input.value.replace('\'demo\'', `"${sessionInfo.tenantId}"`);
                    if (sessionInfo.FC_CDN !== 'cdn.fastcomments.com') {
                        input.value = input.value.replace('https://cdn.fastcomments.com', sessionInfo.FC_CDN);
                    }
                    if (sessionInfo.FC_SITE !== 'fastcomments.com') {
                        input.value = input.value.replace('https://fastcomments.com', sessionInfo.FC_SITE);
                    }
                    setup(sessionInfo.userId);
                } else {
                    setup(sessionInfo.userId);
                }
            }, function () {
                setup(); // so we don't pass error as userId
            });
        })();
    </script>
    <style>
        h4 {
            margin-top: 30px;
            margin-bottom: 5px;
        }

        #iframe {
            width: 100%;
            border: none;
        }
    </style>
</div>
<!-- Watch.ly is just to see how many people use this page, and how long they stay on it. -->
<script async src="https://watchlycdn.com/js/watchly.min.js" data-key="5d1fcfabcc00a66e161816b4"></script>
</body>
</html>
