<div class="content-with-sidebar">
    <div class="sidebar-open-button"><img src="/images/menu.png" alt="Menu Icon" title="Open Menu"></div>
    <div class="sidebar">
        <div class="sidebar-content">
            {{#each items}}
            <div class="sidebar-item">
                <a href="#{{id}}">{{title}}</a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="right-of-sidebar">
        {{{intro}}}

        <div class="guide-items">
            {{#each items}}
            <div class="index-guide-item">
                <h2 id="{{id}}">{{title}} <a href="#{{id}}" class="index-guide-link"><img src="images/link-internal.png"
                                                                                          alt="Internal Link"
                                                                                          title="Direct Link"></a></h2>
                <div class="index-guide-item-content">
                    {{{content}}}
                </div>
            </div>
            {{/each}}
        </div>

        {{{conclusion}}}

        <div class="pagination text-center">
            {{#if prevGuideUrl}}
                <a class="btn prev" href="{{prevGuideUrl}}">Previous Guide</a>
            {{/if}}
            {{#if nextGuideUrl}}
                <a class="btn next" href="{{nextGuideUrl}}">Next Guide</a>
            {{/if}}
        </div>

        <script src="https://cdn.fastcomments.com/js/embed.min.js"></script>
        <div id="fastcomments-widget"></div>
        <script>
            window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
                tenantId: 'nYrnfYEv'
            });
        </script>
    </div>
    <script src="/js/sidebar.js"></script>
</div>

