<div class="content-with-sidebar">
    <div class="sidebar-open-button"><img src="/images/menu.png" alt="Menu Icon" title="Open Menu"></div>
    <div class="sidebar">
        <div class="sidebar-content">
            {{#each itemsBySubCat}}
            <h4>{{@key}}</h4>
            {{#each this}}
            <div class="sidebar-item {{sidebarItemClasses}}">
                <a href="#{{id}}">{{title}}</a>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>

    <div class="right-of-sidebar">
        {{{intro}}}

        <div class="guide-items">
            {{#each items}}
            <div class="index-guide-item">
                <h2 id="{{id}}">{{title}} <a href="#{{id}}" class="index-guide-link"><img src="images/link-internal.png"
                                                                                          alt="Internal Link"
                                                                                          title="Direct Link"></a></h2>
                <div class="index-guide-item-content">
                    {{{content}}}
                </div>
            </div>
            {{/each}}
        </div>

        {{{conclusion}}}

        <div class="pagination text-center">
            {{#if prevGuideUrl}}
            <a class="btn prev" href="{{prevGuideUrl}}">Previous Guide</a>
            {{/if}}
            {{#if nextGuideUrl}}
            <a class="btn next" href="{{nextGuideUrl}}">Next Guide</a>
            {{/if}}
        </div>

        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
        <div id="fastcomments-widget"></div>
        <script>
            window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
                tenantId: 'nYrnfYEv'
            });
        </script>
        <noscript>
            <iframe
                src="https://fastcomments.com/ssr/comments/?tenantId=nYrnfYEv&urlId={{urlEncoded}}&url={{urlEncoded}}"
                horizontalscrolling="no"
                allowtransparency="true"
                frameborder="0"
                title="FastComments"
                width="100%"
                height="1000px"
                style= "width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important;"
            ></iframe>
        </noscript>
        <div class="footer">
            <div class="text-center"><a href="https://github.com/FastComments/fastcomments-docs">Contribute to This Guide</a></div>
        </div>
    </div>
    <script src="/js/sidebar.js"></script>
</div>

