<html>
<head>
    <title>FastComments Docs</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/"><img src="/images/logo-32-2020-01.png" alt="Logo"/>FastComments.com</a>
    </div>
</div>
<div class="left-right-art"></div>
<div class="content">
    <div class="text-center">
        <h1>The Docs</h1>
        <p>You've come to the right place to find all there is to know about FastComments. Try searching, or using one of our pre-made guides below.</p>
        <div class="search">
            <input id="search" placeholder="Search">
            <noscript>This search feature requires JavaScript.</noscript>
            <div id="search-results"></div>
        </div>
        <div class="guides">
            <h2 class="text-center">- Guides -</h2>
            {{#each guides}}
                <a class="guide" href="{{url}}">{{name}}<div class="left-right-art-small"></div></a>
            {{/each}}
        </div>
    </div>
</div>
<script>
    window.docIndex = {{{indexJSON}}}
</script>
<script src="js/search.js"></script>
</body>
</html>
