<html>
<head>
    <title>FastComments Docs</title>
    <meta property="og:title" content="FastComments Documentation" />
    <meta property="og:description" content="FastComments Documentation" />
    <meta property="og:image" content="https://fastcomments.com/images/logo-1080-2020-01.png" />
    <meta property="og:image:width" content="1080"  />
    <meta property="og:image:height" content="1080"  />
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/"><img src="/images/logo-32-2020-01.png" alt="Logo"/>FastComments.com</a>
    </div>
</div>
<div class="left-right-art"></div>
<div class="content">
    <div class="text-center">
        <h1>The Docs</h1>
        <p>You've come to the right place to find all there is to know about FastComments. Try searching, or using one
            of our pre-made guides below.</p>
        <div class="search">
            <input id="search" placeholder="Search">
            <noscript>This search feature requires JavaScript.</noscript>
            <div id="search-results"></div>
        </div>
        <div class="guides">
            <h2 class="text-center">- Guides -</h2>
            <div class="guide-items">
                {{#each guides}}
                <a class="guide" href="{{url}}">
                    <div class="icon-container">
                        <img src="{{icon}}" alt="{{name}} icon" title="{{name}}"/>
                    </div>
                    <div class="name">{{name}}</div>
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         viewBox="0 0 451.846 451.847">
                        <path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"
                              data-original="#000000" class="active-path" data-old_color="#000000" fill="#cfcfcf"/>
                    </svg>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script>
    // The JSON.parse is only here so that when we hit reformat in our editor, it doesn't break the triple brackets formatting...
    window.docIndex = JSON.parse(`{{{indexJSON}}}`);
    window.buildId = "{{{buildId}}}";
</script>
<script src="js/search.js"></script>
<script src="js/version-check.js"></script>

<!-- Watch.ly is just to see how many people use this page, and how long they stay on it. -->
<div id="watchly-target" style="display:none"></div>
<script src="https://watch.ly/js/watchly-web.min.js"></script>
<script>
    watchly.connect(document.getElementById('watchly-target'), {
        "key": "5d1fcfabcc00a66e161816b4",
        "prefix": "",
        "postfix": ""
    });
</script>
</body>
</html>
