<link rel="stylesheet" href="/css/layout-installation-overview.css" />
<div class="layout">
    <div class="page-content">

        <h1 class="text-center select-integration-title">Select a Product</h1>
        <div class="integration-list">
            <a class="integration-item" href="#">
                <div class="logo-container">
                    <img src="https://fastcomments.com/images/svg/v2/logo.svg" alt="Live Commenting" title="Live Commenting">
                </div>
                <div class="title">Live Commenting</div>
                <div class="description">Customizable, live commenting for any page or app.</div>
                <div class="get-started">Select</div>
            </a>
            <a class="integration-item" href="#">
                <div class="logo-container">
                    <img src="https://fastcomments.com/images/svg/v2/logo_red.svg" alt="Live Chat" title="Live Chat">
                </div>
                <div class="title">Live Chat</div>
                <div class="description">Live chat for any page or app.</div>
                <div class="get-started">Select</div>
            </a>
            <a class="integration-item" href="#">
                <div class="logo-container">
                    <img src="https://fastcomments.com/images/image-chat-icon.svg" alt="Image Chat" title="Image Chat">
                </div>
                <div class="title">Image Chat</div>
                <div class="description">Add conversations to images.</div>
                <div class="get-started">Select</div>
            </a>
            <a class="integration-item" href="#">
                <div class="logo-container">
                    <img src="https://fastcomments.com/images/collab-chat-icon.svg" alt="Image Chat" title="Image Chat">
                </div>
                <div class="title">Collab Chat</div>
                <div class="description">Add conversations to static documents.</div>
                <div class="get-started">Select</div>
            </a>
        </div>
        <div class="footer">
            <div class="text-center"><a href="https://github.com/FastComments/fastcomments-docs">Contribute to This
                Guide</a></div>
        </div>
    </div>
</div>

