<link rel="stylesheet" href="/css/layout-installation-pick-product.css" />
<div class="layout">
    <div class="page-content">
        <h1 class="text-center select-integration-title">Select a Product</h1>
        <div class="integration-list">
            {{#each items}}
            <a class="integration-item" href="{{url}}">
                <div class="logo-container">
                    <img src="{{icon}}" alt="{{title}}" title="{{title}}">
                </div>
                <div class="title">{{title}}</div>
                <div class="description">{{description}}</div>
                <div class="get-started">Get Started</div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
