<html>
<head>
    <title>FastComments Docs</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/"><img src="/images/logo-32-2020-01.png" alt="Logo"/>FastComments.com</a>
    </div>
</div>
<div class="left-right-art"></div>
<div class="content">
    {{{content}}}
</div>
<script>
    window.buildId = "{{{buildId}}}";
</script>
<script src="js/version-check.js"></script>
<!-- Watch.ly is just to see how many people use this page, and how long they stay on it. -->
<div id="watchly-target" style="display:none"></div>
<script src="https://watch.ly/js/watchly-web.min.js"></script>
<script>
    watchly.connect(document.getElementById('watchly-target'), {
        "key": "5d1fcfabcc00a66e161816b4",
        "prefix": "",
        "postfix": ""
    });
</script>
</body>
</html>
