<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} | FastComments Docs</title>
    <meta property="og:title" content="{{title}} | FastComments Documentation"/>
    <meta property="og:description" content="{{title}} | FastComments Documentation"/>
    <meta property="og:image" content="https://fastcomments.com/images/logo-1080-2020-01.png"/>
    <meta property="og:image:width" content="1080"/>
    <meta property="og:image:height" content="1080"/>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <script src="js/get-session-info.js"></script>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/">
            <div class="css-logo"><i class="t"></i><i class="m"></i><i class="b"></i></div>
            FastComments.com</a>
    </div>
</div>
<div class="content">
    {{{content}}}
</div>
<script>
    (function () {
        const ExampleTenantId = JSON.parse(`"{{{ExampleTenantId}}}"`);
        window.getSessionInfo(function (sessionInfo) {
            if (sessionInfo.authenticated && sessionInfo.tenantId) {
                const codeContainers = document.querySelectorAll('.code');
                codeContainers.forEach(function (container) {
                    if (container.id !== 'demo-tenant-id') {
                        const lineWithTenantId = container.querySelector('.has-tenant-id');
                        if (lineWithTenantId) {
                            lineWithTenantId.innerHTML = lineWithTenantId.innerHTML.replace(ExampleTenantId, sessionInfo.tenantId);
                            lineWithTenantId.innerHTML = lineWithTenantId.innerHTML.replace('demo', sessionInfo.tenantId);
                        }
                    }
                    const lineWithURL = container.querySelector('.has-url');
                    if (lineWithURL) {
                        if (sessionInfo.FC_CDN !== 'https://cdn.fastcomments.com') {
                            lineWithURL.innerHTML = lineWithURL.innerHTML.replace('https://cdn.fastcomments.com', sessionInfo.FC_CDN);
                        }
                        if (sessionInfo.FC_SITE !== 'https://fastcomments.com') {
                            lineWithURL.innerHTML = lineWithURL.innerHTML.replace('https://fastcomments.com', sessionInfo.FC_SITE);
                        }
                    }
                });
                
                // Update tenant ID inputs
                const tenantIdInputs = document.querySelectorAll('.tenant-id');
                tenantIdInputs.forEach(function (input) {
                    if (input.value === 'demo' || input.value === ExampleTenantId) {
                        input.value = sessionInfo.tenantId;
                    }
                });
                
                if (sessionInfo.FC_SITE !== 'https://fastcomments.com') {
                    const containersWithSiteLink = document.querySelectorAll('.has-site-link');
                    containersWithSiteLink.forEach(function (container) {
                        container.innerHTML = container.innerHTML.replaceAll('https://fastcomments.com', sessionInfo.FC_SITE);
                    });
                }
            }
        });
    })();
</script>

<script src="js/version-check.js"></script>
<script src="https://cdn.fastcomments.com/js/embed-page-likes-floating.min.js"></script>
<div id="fastcomments-page-likes-floating"></div>
<script>
    window.FastCommentsEmbedPageLikesFloating(document.getElementById('fastcomments-page-likes-floating'), {
        tenantId: 'L177BUDVvSe',
        url: location.href.replace(location.hash, ''), // ignore hashbang in url - messes up links to comments
        urlId: window.location.origin + window.location.pathname // remove query params
    });
</script>
<!-- Watch.ly is just to see how many people use this page, and how long they stay on it. -->
<script async src="https://watchlycdn.com/js/watchly.min.js" data-key="5d1fcfabcc00a66e161816b4"></script>
</body>
</html>
